.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* how to make the size of form get smaller and smaller ever 0.3 s? */
/* or, another idea, when you start you have 2 login forms, only one is valid.  */
/* THIS IS TOO HARD each time you submit, the number of forms doubles */
/* if you don't answer a math question on top of page in 10 seconds AND login to the correct form you have to start over*/
/* use the mouse to select from a picture of a keyboard, if you get it wrong the keyboard gets smaller */
/* CAPTCHA */
.changingForm {
  transform: scale(0.1)
};

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
